body {
    background-color: rgb(15, 38, 108);
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
   overflow-x: hidden;
  font-family: "inter", sans-serif;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 20px 25px 5px;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  

  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all background-color 0.8s ease-in-out;
    cursor: pointer;
  }

  .hamburger:hover{
    background-color: #000000;
    opacity: 40%;
  }
  .hamburger:active{
    background-color: #5a1010;
  }

  .menu {
    position: relative;
    background-color: #444;
    color: white;
    padding: 50px 20px;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease; 
  }
  
  .menu.slide-down {
    transform: translateY(0);
    opacity: 1;
  }
  
  .menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-links li {
    margin: 10px 0;
  }
  
  .menu-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .menu-links a:hover {
    background-color: #555;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(224, 224, 224);
    overflow: auto;
    padding-top: 10px;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    color: white;
    background-color: #444;
}

.sidebar h2 {
    color: #000000;
    padding-left: 35px;
}

.capitol {
    margin-bottom: 10px;
}

.capitol-btn {
    width: 100%;
    background-color: #ccc;
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.capitol-btn:hover {
    background-color: #bbb;
}

.lectii {
    display: none;
    padding-left: 20px;
}

.lectii a {
    padding: 8px 10px;
    display: block;
}
.titlucutie {
    position: relative;
    margin-left:13%;
    background-color: rgb(217, 217, 217);
    color: #000000;
    padding: 0px;
    font-size: 1.2rem;
    
}
.titlucutie h1 {
    font-size: 5.5rem;
    margin: 0;
    text-align: center;
}
.a1 h3{
  position:relative;
  color:white;
  left:300px;
  font-size:2.5rem;
}
.p1{
  position:relative;
  left:400px;
  font-size:30px;
  font-weight:500;
}
.cutiepz1{
  background-color: #bbb;
  width:350px;
  height:300px;
  position:relative;
  left:1350px;
  bottom:300px;
  border-radius:15%;
}
.poza1{
  margin-right:500px;
  height:280px;
  width:280px;
  padding-right:300px;
  margin-top:20px;
}
.a2 h3{
  position:relative;
  color:white;
  left:1000px;
  bottom: 500px;
  font-size:2.5rem;
}
.p2{
  position:relative;
  bottom: 500px;
  left:1050px;
  font-size:30px;
  font-weight:500;
}
.cutiepz2{
  background-color: #bbb;
  width:350px;
  height:300px;
  position:relative;
  left:400px;
  bottom:150px;
  border-radius:15%;
}
.poza2{
  padding-left:30px;
  height:280px;
  width:280px;
}

.titlucutie2 {
    position: relative;
    margin-left: 13.3%;
    background-color:rgb(217,217,217);
    color: #000000;
    padding: 10px;
    font-size: 1.2rem;
    bottom:200px;
  }
.titlucutie2 h1 {
    font-size: 5.5rem;
    margin: 0;
    text-align: center;
  }
  .a3 h4{
  position:relative;
  color:white;
  left:400px;
  bottom: 100px;
  font-size:1.7rem;
  font-weight:600;
  }
  .cutiepz3{
  background-color: #bbb;
  width:350px;
  height:500px;
  position:relative;
  left:700px;
  bottom:350px;
  border-radius:15%;  
  z-index: 0;
  }
  .p3{
  position:relative;
  bottom: -50px;
  left:400px;
  font-size:27px;
  font-weight:700;
  }
 
  .poza3{
  padding-left:80px;
  height:500px;
  }

.p4{
  position: relative;
    max-width: 800px;
    bottom: 850px;
    left:1100px;
    font-size:27px;
    font-weight:700;
}
.colon{
  display: flex;
  max-width: 840px;
  flex-direction: column;
  font-family: Inter, sans-serif;
}
.poza4{
position: relative;
left:-45px;
bottom:-40px;
z-index: 40;
}
.cutiepz4{
  background-color: #bbb;
  width:350px;
  height:350px;
  position:relative;
  left:1300px;
  bottom:1750px;
  border-radius:15%;  
  z-index: 1;
}
.titlucutie3 {
  position: relative;
  margin-left: 13.3%;
  background-color:rgb(217,217,217);
  color: #000000;
  padding: 10px;
  font-size: 1.2rem;
  bottom:1000px;
}
.titlucutie3 h1 {
  font-size: 5.5rem;
  margin: 0;
  text-align: center;
}
.p5{
  position:relative;
  left:450px;
  bottom:1000px;
  font-size:50px;
  font-weight:700;
}
.cutiepz5{
  background-color: #bbb;
  width:700px;
  height:550px;
  position:relative;
  left:700px;
  bottom:900px;
  border-radius:15%;  
  z-index: 1;
}
.poza5{
position: relative;
left:175px;
bottom:-90px;
z-index: 40;
width:350px;
height:450px;
}
.titlucutie4 {
  position: relative;
  margin-left: 13.3%;
  background-color:rgb(217,217,217);
  color: #000000;
  padding: 10px;
  font-size: 1.2rem;
  bottom:700px;
}
.titlucutie4 h1 {
  font-size: 5.5rem;
  margin: 0;
  text-align: center;
}
.p6{
  position:relative;
  left:450px;
  bottom:700px;
  font-size:50px;
  font-weight:700;
  max-width:1350px;
}
.cutiepz7{
  background-color: #bbb;
  width:700px;
  height:550px;
  position:relative;
  left:700px;
  bottom:700px;
  border-radius:15%;  
  z-index: 1;
}
.poza7{
  position: relative;
  left:100px;
  bottom:-90px;
  z-index: 40;
  width:500px;
  height:400px;
  border-radius:15%;
  }
  .titlucutie5 {
    position: relative;
    margin-left: 13.3%;
    background-color:rgb(217,217,217);
    color: #000000;
    padding: 10px;
    font-size: 1.2rem;
    bottom:550px;
  }
  .titlucutie5 h1 {
    font-size: 5.5rem;
    margin: 0;
    text-align: center;
  }
  .p7{
    position:relative;
    left:350px;
    bottom:450px;
    font-size:35px;
    font-weight:700;
    max-width:1350px;
  }
  .cutiepz8{
    background-color: #bbb;
    width:700px;
    height:550px;
    position:relative;
    left:1100px;
    bottom:950px;
    border-radius:15%;  
    z-index: 1;
  }
  .poza8{
    position: relative;
    left:100px;
    bottom:-90px;
    z-index: 40;
    width:500px;
    height:400px;
    border-radius:15%;
    }
    .titlucutie6 {
      position: relative;
      margin-left: 13.3%;
      background-color:rgb(217,217,217);
      color: #000000;
      padding: 10px;
      font-size: 1.2rem;
      bottom:800px;
    }
    .titlucutie6 h1 {
      font-size: 5.5rem;
      margin: 0;
      text-align: center;
    }
    .p8{
      position:relative;
      left:330px;
      bottom:650px;
      font-size:30px;
      font-weight:700;
      max-width:800px;
    }
    .cutiepz9{
      background-color: #bbb;
      width:600px;
      height:450px;
      position:relative;
      left:1200px;
      bottom:1430px;
      border-radius:15%;  
      z-index:1;
    }
      .poza9{
    position: relative;
    left:75px;
    bottom:-50px;
    z-index: 40;
    width:450px;
    height:350px;
    border-radius:15%;
    }
    .p9{
      position:relative;
      left:1050px;
      bottom:500px;
      font-size:30px;
      font-weight:700;
      max-width:800px;
    }
    .cutiepz10{
      background-color: #bbb;
      width:600px;
      height:450px;
      position:relative;
      left:350px;
      bottom:1375px;
      border-radius:15%;  
      z-index:1;
    }
      .poza10{
    position: relative;
    left:75px;
    bottom:-50px;
    z-index: 40;
    width:450px;
    height:350px;
    border-radius:15%;
    }

